lab_01/nfcorpus/
lab_03/corpus_confluence.jsonl
lab_03/chunks_fixed_100_50.jsonl
lab_03/questions_250.json
lab_03/assignment_corpus.jsonl
lab_03/emb_chunks_fixed_100_50.npy
lab_03/emb_docs_confluence.npy
lab_03/emb_questions_confluence.npy